.bubble-box{ 
background:#EEE; 
width:2000px; 
margin-bottom:30px; 
} 
.bubble-box .wrap{ 
background:#EEE; 
/* 修正IE6 */ 
_position:relative; 
_z-index:10; 
} 
/* arrow-effect */ 
.arrow-left{ border-left:20px solid #FFF; border-top:20px solid #EEE; margin-top:20px;} 
.arrow-right{ border-right:20px solid #FFF; border-top:20px solid #EEE;} 
.arrow-top{ border-left:20px solid #EEE; border-top:20px solid #FFF; margin-left:20px;} 
.arrow-bottom{ border-left:20px solid #EEE; border-bottom:20px solid #FFF; margin-left:20px;} 
.arrow-left .wrap, 
.arrow-right .wrap{ 
width:800px; 
padding:12px 10px 12px 10px; 
margin-top:-40px; 
} 
.arrow-top, .arrow-bottom{ width:140px;} 
.arrow-top .wrap, 
.arrow-bottom .wrap{ 
width:800px; 
padding:12px 10px 12px 10px; 
margin-left:-40px; 
} 

